workflow.json
{
  "name": "Tiktok -> Facebook Content Automation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -464,
        -144
      ],
      "id": "c5df8625-77cb-4154-9f5f-5cb0c1d8636a",
      "name": "Start"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "https://docs.google.com/spreadsheets/d/1oUi0Zeut8KRTtRF3yRUnlK-mmTM6em3eoKSsAYzsLIw/edit?gid=0#gid=0",
          "mode": "url"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1oUi0Zeut8KRTtRF3yRUnlK-mmTM6em3eoKSsAYzsLIw/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        -240
      ],
      "id": "66946d4c-fe05-404d-b76e-1b5223e2996c",
      "name": "Retrieve FB & TikTok Data",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "uu8CrQ58182Cf4ft",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://fastapi:8000/prepare-videos",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"tiktok_profile_url\": \"{{ $json.tiktok_profile_url }}\",\n  \"facebook_page_id\": \"{{ $json.facebook_page_id }}\",\n  \"facebook_api_access_token\": \"{{ $json.facebook_api_access_token }}\"\n} ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        -16,
        -240
      ],
      "id": "1ecc5a47-ae97-4821-af18-c44f69b85215",
      "name": "Compare -> Download TikTok Videos"
    },
    {
      "parameters": {
        "jsCode": "return $json.videos_to_upload.map(video => ({\n  json: video\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        208,
        -240
      ],
      "id": "391ea67b-1b2c-4c63-8dc2-dd528b054c40",
      "name": "Flatten Videos Array"
    },
    {
      "parameters": {
        "fileSelector": "={{ $json.local_path }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        432,
        -368
      ],
      "id": "889e6ba0-d90c-468c-a2b8-fcd63565cd9b",
      "name": "Load Video as Binary"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://graph.facebook.com/v19.0/{{ $json.facebook_page_id }}/videos",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "access_token",
              "value": "={{ $json.facebook_api_access_token }}"
            },
            {
              "name": "description",
              "value": "={{ $json.caption }}"
            },
            {
              "name": "published",
              "value": "true"
            },
            {
              "parameterType": "formBinaryData",
              "name": "source",
              "inputDataFieldName": "data"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        880,
        -240
      ],
      "id": "d18012a1-619f-40f4-bc3c-584ed355d114",
      "name": "Upload Video to Facebook"
    },
    {
      "parameters": {
        "mode": "combine",
        "combineBy": "combineByPosition",
        "options": {}
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3.2,
      "position": [
        656,
        -240
      ],
      "id": "a30fb97c-8980-49e0-af4f-6f1eefa3ff98",
      "name": "Combine Video Data + File"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "triggerAtHour": 8
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -464,
        -336
      ],
      "id": "2cdc293b-542e-4367-bf6a-32e716b2d4f5",
      "name": "8am Daily"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "http://fastapi:8000/downloads",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        1328,
        -240
      ],
      "id": "83acc284-46cb-45fd-a5fa-71723ca15b22",
      "name": "Cleanup"
    },
    {
      "parameters": {
        "fieldsToAggregate": {
          "fieldToAggregate": [
            {
              "fieldToAggregate": "id"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1104,
        -240
      ],
      "id": "88bef5ba-7b3c-41f8-b2ed-daf06cad93b3",
      "name": "Aggregate"
    }
  ],
  "pinData": {},
  "connections": {
    "Start": {
      "main": [
        [
          {
            "node": "Retrieve FB & TikTok Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Retrieve FB & TikTok Data": {
      "main": [
        [
          {
            "node": "Compare -> Download TikTok Videos",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Compare -> Download TikTok Videos": {
      "main": [
        [
          {
            "node": "Flatten Videos Array",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Videos Array": {
      "main": [
        [
          {
            "node": "Load Video as Binary",
            "type": "main",
            "index": 0
          },
          {
            "node": "Combine Video Data + File",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Load Video as Binary": {
      "main": [
        [
          {
            "node": "Combine Video Data + File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Combine Video Data + File": {
      "main": [
        [
          {
            "node": "Upload Video to Facebook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "8am Daily": {
      "main": [
        [
          {
            "node": "Retrieve FB & TikTok Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload Video to Facebook": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Cleanup",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "4d8474d1-c543-4b35-96af-9ff65dbf4671",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "afd2807e31515fbc7a9bde548431d2081a207b9c7c0c812e6200f76539b3926d"
  },
  "id": "uhlGj4j786TKWTiG",
  "tags": []
}